
<div ng-app="dashboard">
  <mobile-main-nav></mobile-main-nav>
  <div class="container-fluid">
    <nav-top></nav-top>
    <div class="row" id="main-block" ng-view ></div>
    <nav-bottom></nav-bottom>
  </div>
</div>
