#top-nav{
  @extend .navbar;
  margin-bottom: 0px;
  margin-top: 1px;
  border: none;
  min-height: 10px;
}

.top-tabs{
  float: left;
  background-color: $background-color-body;
  border-bottom: 0px;
  margin-right: -5px;
  
  li.active{
    @extend .active_nav;
  }

  li {
    margin-left: -15px;
    background-color: $background-color-body;
    margin: 0px;
    padding:0px;
    border-bottom:0px;

    a, a:link{
      background:transparent; 
      padding: 0 40px;
      height: 0; 
      line-height: 30px;
      text-decoration: none;
      color: black;
      border-right: 30px solid $alpha-color-zero;
      border-bottom: 30px solid $background-color-info;
      border-bottom-color: $background-color-info;
    }
  }
}

#bottom-nav{
  @extend #top-nav;
  position: relative;
  top: -2em;
}


.bottom-tabs{
  @extend .top-tabs;
  background-color: $alpha-color-zero;
  
  li.active{
     @extend .active_nav;
  }
  
  li {
    background-color: $alpha-color-zero;
    a {
      border-bottom-color: $background-color-body;
      border-bottom: 30px solid $background-color-body;
    }
  }
}
