
<div class="container-fluid" id="artists" >
  
  <nav class="col-xs-12 col-sm-2 sub-nav overflow-block">
    <div class="panel-group row" id="accordion" role="tablist" aria-multiselectable="true">
      <side-nav objects="artists" is-active="isActive(obj)" on-click="navOnClick(obj)" text-format="linkTextFormat(obj)"></side-nav>
    </div>
  </nav>

  <div class="overflow-block col-xs-12 col-sm-10" id="info-space">
    <picture-viewer pictures="artist.pictures"></picture-viewer>
    <div class="panel panel-default main-info-block">
      <div class="panel-heading">{{artist.name}}</div>
      <div class="panel-body" ng-bind-html="artist.bio  | unsafe"></div>
    </div>
    <div class="bottom_fill"></div>
  </div>

</div>
