
<div id="news" >
   <div class="overflow-block col-xs-2 col-md-2" >
    <div class="row">
     <side-nav objects="newsPosts" is-active="isActive(obj)" on-click="navOnClick(obj)" text-format="linkTextFormat(obj)"></side-nav>
    </div>
   </div>
    <div class="overflow-block col-xs-8 col-md-8">
      <article class="panel panel-default">
        <div class="panel-heading">{{newsPost.title}}</div>
        <div class="panel-body" ng-bind-html="newsPost.text | unsafe"></div>
      </article>
      <div class="bottom_fill"></div>
    </div>
</div>
