
<nav class="row" id="top-nav" >
    <div class="col-xs-12 col-md-4" ng-repeat="gallery in galleries">
      <ul class="nav top-tabs row" role="tablist">
        <li>
          <a href="#" > {{ gallery.name }}</a>
        </li>
      </ul>
    </div>  
</nav>

<div class="row" id="galleries" >
    <div class="col-xs-12 col-md-4 " ng-repeat ="gallery in galleries">
      <div class="row info_row">
        <div  class="text" ng-bind-html="gallery.text | unsafe">
        </div>
      </div>
    </div>
</div>

<div class="row" id="bottom-nav">
  <div class="col-xs-12 col-md-4 ">
    <ul class="nav bottom-tabs row" role="tablist">
      <li>
        <a href="#" > Test</a>
      </li>
    </ul>
  </div> 
  <div class="col-xs-12 col-md-4 ">
    <ul class="nav bottom-tabs row" role="tablist">
      <li>
        <a href="#" > Test</a>
      </li>
    </ul>
  </div> 
  <div class="col-xs-12 col-md-4 ">
    <ul class="nav bottom-tabs row" role="tablist">
      <li>
        <a href="#" > Test</a>
      </li>
    </ul>
  </div> 
</div>
