<nav class="col-xs-12 col-sm-2 sub-nav overflow-block">
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default row">
      <div class="panel-heading" role="tab" id="headingOne">
        <h3 class="panel-title">Gallery</h3>
          <a href="" ng-class="{ active: isGalleryActive(gallery)}" ng-click="galleryOnClick(gallery)">
          Info
          </a>
        
      </div>
    </div>

    <div class="panel panel-default row" ng-hide="shows.current | isEmpty">
      <div class="panel-heading" role="tab" id="headingTwo">
        <h3 class="panel-title"> Current Show</h3>
         <a href="" ng-class="{active: isActive(shows.current)}" ng-click="showOnClick(shows.current)">
           
            {{shows.current.title}}
            <div class="date">{{shows.current.start_date | date}} - {{shows.current.end_date | date}}</div>
            </a>
      </div>
    </div>

   <side-nav-shows on-click="showOnClick(obj)" is-active="isActive(obj)" header="'Future Shows'" new-id="'future_shows'" objects="shows.future" ></side-nav-shows>
   <side-nav-shows on-click="showOnClick(obj)" is-active="isActive(obj)" header="'Past Shows'"  header="'Past Shows'" new-id="'past_shows'" objects="shows.past"></side-nav-shows>
  
  </div>
</nav>