<div class="container-fluid" id="show" >
  <show-nav></show-nav>
  <div id="info-space" class="overflow-block col-xs-12 col-md-10">
   <div class="page-header"><h2>{{show.title}} <small>{{show.start_date | date}} - {{show.end_date | date}}</small></h2></div>
    <picture-viewer pictures="show.pictures"></picture-viewer>
    <article class="panel panel-default">
      <div class="panel-heading"> </div>
      <div class="panel-body" ng-bind-html="show.artists | unsafe"></div>
    </article>
    <div class="bottom_fill"></div>
  </div>
</div>