// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin transition($time: 0.5s, $type: linear){
  -webkit-transition: all $time $type;
  -moz-transition: all $time $type;
  -ms-transition: all $time $type;
  -o-transition: all $time $type;
  transition: all $time $type;
}


$color1: #db504a; //rgba(219, 80, 74, 100)
$color2: #ff6f59; //rgba(255, 111, 89, 100)
$color3: #254441; //rgba(37, 68, 65, 100)
$color4: #43aa8b; //rgba(67, 170, 139, 100)
$color5: #b2b09b; //rgba(178, 176, 155, 100)

$small-screen: 750px;

$background-color-body: grey;
$background-color-info: white;
$active-link-color: $color1;
$alpha-color-zero: rgba(255,0,0,0);

body{
  font-family: 'Fondamento', cursive;
  background-color: $background-color-body;
  overflow:hidden;
}

.active_nav{
  background-color:$active-link-color;
  overflow: auto;
}

.bottom_fill{
  @extend .clearfix;
  height: 2em;
}

.overflow-block{
  height:650px;
  overflow: auto;
}

#main-block{
  background-color: $background-color-info;
  padding: 1em;
  padding-bottom: 0em;
}

#overview{ 
  .info_row{
    border-right: solid 3px $background-color-info;
    .text{
    }
  }
}

#top-nav{
  @extend .navbar;
  margin-bottom: 0px;
  margin-top: 1px;
  border: none;
  min-height: 10px;
}

.top-tabs{
  float: left;
  background-color: $background-color-body;
  border-bottom: 0px;
  margin-right: -5px;
  
  li.active{
    @extend .active_nav;
  }

  li {
    margin-left: -15px;
    background-color: $background-color-body;
    margin: 0px;
    padding:0px;
    border-bottom:0px;

    a, a:link{
      background:transparent; 
      padding: 0 40px;
      height: 0; 
      line-height: 30px;
      text-decoration: none;
      color: black;
      border-right: 30px solid $alpha-color-zero;
      border-bottom: 30px solid $background-color-info;
      border-bottom-color: $background-color-info;
    }
  }
}

#bottom-nav{
  @extend #top-nav;
  position: relative;
  top: -2em;
}


.bottom-tabs{
  @extend .top-tabs;
  background-color: $alpha-color-zero;
  
  li.active{
     @extend .active_nav;
  }
  
  li {
    background-color: $alpha-color-zero;
    a {
      border-bottom-color: $background-color-body;
      border-bottom: 30px solid $background-color-body;
    }
  }
}

.main-info-block{
  padding:15px;
}

.panel{
  background-color: $alpha-color-zero;
  border:none;
  box-shadow:none;
  
  .panel-heading {
    font-size: 21px;
    background-color: $alpha-color-zero;
    span {
      font-size: 10px;
      text-align: left;
      vertical-align: top;
      display:block;
    }

    .panel-body {
      padding: 20px 15px;
    }
  }

}
.panel-group {
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
}


