// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$background-color-body: grey;
$background-color-info: white;
$active-link-color: red;
$alpha-color-zero: rgba(255,0,0,0);

body{
  background-color: $background-color-body
}

.active_nav{
  background-color:$active-link-color;
  max-height:600px;
  overflow: auto;
}

.bottom_fill{
  @extend .clearfix;
  height: 2em;
}

.overflow-block{
  height:600px;
  overflow: auto;
}

#main-block{
  background-color: $background-color-info;
  padding: 1em;
  padding-bottom: 0em;
}

#overview{ 
  .info_row{
    border-right: solid 3px $background-color-info;
    .text{
    }
  }
}

#top-nav{
  @extend .navbar;
  margin-bottom: 0px;
  border: none;
  min-height: 10px;
}

.top-tabs{
  float: left;
  background-color: $background-color-body;
  border-bottom: 0px;
  margin-right: -5px;
  
  li.active{
    @extend .active_nav;
  }

  li {
    margin-left: -15px;
    background-color: $background-color-body;
    margin: 0px;
    padding:0px;
    border-bottom:0px;

    a, a:link{
      background:transparent; 
      padding: 0 40px;
      height: 0; 
      line-height: 30px;
      text-decoration: none;
      color: black;
      border-right: 30px solid $alpha-color-zero;
      border-bottom: 30px solid $background-color-info;
      border-bottom-color: $background-color-info;
    }
    a:hover, a:active, a:focus{
    
    }
  }
}

#bottom-nav{
  @extend #top-nav;
  position: relative;
  top: -2em;
}



.bottom-tabs{
  @extend .top-tabs;
  background-color: $alpha-color-zero;
  
  li.active{
     @extend .active_nav;
  }
  
  li {
    background-color: $alpha-color-zero;
    a {
      border-bottom-color: $background-color-body;
      border-bottom: 30px solid $background-color-body;
    }
  }
}